html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
}
.header{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-start: 2;
	grid-column: span 3;
}
.header-profile{
	grid-column-start: 2;
}
.intro{
	grid-column-start: 1;
}
.btns{
	grid-column-start: 2;
}
.sidebar{
	display: grid;
	grid-column-start: 1;
	grid-row-start: 1;
	grid-row-end: 4;
	background-color: lightskyblue;
	color: white;
}
.dasboard-items{
	display: grid;
	gap: 4px;
	grid-template-columns: 12px 1fr;
	align-items: center;
	justify-content: center;
}
.content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-start: 2;
	grid-column: span 3;
	grid-row-start: 2;
	grid-row-end: 4;
	background-color: whitesmoke;
}
.projects{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
}
.project-content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(auto-fit,1fr);
	grid-row-start: 2;
}
.announcements{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-start: 2;
}
.announcement-content{
	grid-row-start: 2;
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 4px;
}
.trending{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-start: 2;
}
.trending-content{
	grid-row-start: 2;
	background-color: white;
	border: 1px solid whitesmoke;
	border-radius: 4px;
}
button{
	background-color: lightskyblue;
	color: white;
}
img{
	width: 10px;
}